<div class="work-item">
  {% assign work_link = post.project_link %}
  {% if work_link == nil or work_link == '' %}
    {% assign work_link = post.url %}
  {% endif %}
  <h3 class="work-title"><a href="{{ work_link | relative_url }}">{{ post.title }}</a></h3>
  {% if post.lead_text %}
    <p class="work-lead">{{ post.lead_text }}</p>
  {% endif %}
  <p class="work-excerpt">{% if post.excerpt %}{{ post.excerpt | strip_html | truncate: 200 }}{% else %}{{ post.content | strip_html | truncate: 200 }}{% endif %}</p>
  <p>
    <a class="btn btn-default" href="{{ work_link | relative_url }}">
      {{ post.button_text | default: "Read More" }}
    </a>
  </p>
</div>
