<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.hero_title != '' %}
            <h1 class="text-center">{{site.hero_title}}</h1>
          {% endif %}

          {% if site.hero_subtitle != '' or site.hero_intro != '' or site.enable_contact == true %}
          <p class="text-center hero-subtitle">
              {% if site.hero_subtitle != '' %}
              {{site.hero_subtitle}}
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% endif %}
          </p>
          {% if site.hero_intro != '' %}
          <p class="text-center hero-tags">
              {{site.hero_intro}}
          </p>
          {% endif %}
          {% if site.enable_contact == true %}
          {% include contact-modal.html %}
          {% endif %}
          {% endif %}

        </div>

      </div>

      <!-- <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a> -->

    </div>

  </div>

</div>
