{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <h2 class="section-title text-center" style="margin-top: 50px; margin-bottom: 10px;"> Work Experience </h2>
            <p class="section-subtitle text-center">Professional projects and production-grade work</p>
            <div class="break" style="margin-bottom: 30px;"></div>

            {% assign work_posts = site.posts | where: "categories", "work" %}
            {% if work_posts.size > 0 %}
              {% for post in work_posts %}
                <div class="wow fadeIn">
                  {% if post.position == "left" %}
                    {% include content-left.html %}
                  {% endif %}
                  {% if post.position == "right" %}
                    {% include content-right.html %}
                  {% endif %}
                </div>
              {% endfor %}
            {% else %}
              <p class="text-center" style="color: #bbb; margin-bottom: 50px;">No registered professional projects available.</p>
            {% endif %}


            <h2 class="section-title text-center" style="margin-top: 100px; margin-bottom: 10px;"> Personal Projects</h2>
            <p class="section-subtitle text-center">Side projects and toy projects for exploration</p>
            <div class="break" style="margin-bottom: 30px;"></div>

            {% assign personal_posts = site.posts | where: "categories", "personal" %}
            {% if personal_posts.size > 0 %}
              {% for post in personal_posts %}
                <div class="wow fadeIn">
                  {% if post.position == "left" %}
                    {% include content-left.html %}
                  {% endif %}
                  {% if post.position == "right" %}
                    {% include content-right.html %}
                  {% endif %}
                </div>
              {% endfor %}
            {% else %}
              <p class="text-center" style="color: #bbb;">No registered personal projects available.</p>
            {% endif %}

          </div>
        </div>
      </div>
    </main>

{% include footer.html %}